
{% extends "layouts/base.html" %}
{% load static %}
{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
  <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="card-body">
                  <h1>Formulaire Produit</h1>
                  <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="cat">Choisir ou Entrer un categorie:</label>
                          <input type="text" id="cat" name="cat" list="myOptions" class="form-control">
                          <datalist id="myOptions">
                              {% for category in categories %}
                                  <option value="{{ category.nom }}">
                              {% endfor %}
                          </datalist>
                      </div>

                      <div class="form-group">
                          <label for="nom">Nom:</label>
                          <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrer le nom du produit">
                      </div>

                      <div class="form-group">
                          <label for="description">Description:</label>
                          <textarea class="form-control" id="description" name="description" rows="3" placeholder="Entrer la description du produit"></textarea>
                      </div>

                      <div class="form-group">
                          <label for="prix_unitaire">Prix unitaire:</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">FCFA</span>
                              </div>
                              <input type="number" step="0.01" class="form-control" id="prix_unitaire" name="prix_unitaire" placeholder="Entrer le prix">
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="stock">Stock:</label>
                          <input type="number" class="form-control" id="stock" name="stock" placeholder="Entrer la quantité en stock">
                      </div>


                      <div class="form-group">
                        <button class="btn btn-danger">
                            <label for="image">image</label>
                            <input type="file" class="form-control-file" id="image" name="image" required>
                         </button>
                    </div>

                      <button type="submit" class="btn btn-success">Soumettre le produit</button>
                  </form>
              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card card-user">
              <div class="card-body">
                  <p class="card-text">
                      <div class="author">
                          <div class="block block-one"></div>
                          <div class="block block-two"></div>
                          <div class="block block-three"></div>
                          <div class="block block-four"></div>
                          <a href="javascript:void(0)">
                              <img class="avatar border-gray" src="{% static 'assets/img/anime3.png' %}" alt="Profile Photo">
                              <h5 class="title">{{user.username}}</h5>
                          </a>
                      </div>
                  </p>
                  <div class="card-description">
                      Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </div>
              </div>
              <div class="card-footer">
                  <!-- Footer content -->
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}












