{% extends "layouts/base.html" %}
{% load static %}
{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
  <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="card-header">
                  <h5 class="card-title">Créer un Compte</h5>
              </div>
              <div class="card-body">
                  <form method="post">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Nom d'utilisateur:</label>
                                  <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="nom">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Mot de passe:</label>
                                  <input type="password" class="form-control" placeholder="Mot de passe" name="pass1">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Confirmer Mot de passe:</label>
                                  <input type="password" class="form-control" placeholder="Confirmer Mot de passe" name="pass2">
                              </div>
                          </div>
                      </div>
                      <div class="card-footer">
                          <button type="submit" class="btn btn-fill btn-success">Valider</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-user">
              <div class="card-body">
                  <div class="author">
                      <div class="block block-one"></div>
                      <div class="block block-two"></div>
                      <div class="block block-three"></div>
                      <div class="block block-four"></div>
                      <a href="javascript:void(0)">
                          <img class="avatar border-gray" src="{% static 'assets/img/anime3.png' %}" alt="...">
                          <h5 class="title">{{user.username}}</h5>
                      </a>
                  </div>
                  <p class="card-description">
                      Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
              </div>
              <div class="card-footer">
                  <hr>
                  <div class="button-container">
                      <button href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook"></i></button>
                      <button href="#" class="btn btn-info btn-icon btn-round"><i class="fab fa-twitter"></i></button>
                      <button href="#" class="btn btn-danger btn-icon btn-round"><i class="fab fa-google-plus"></i></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
