

{% extends "layouts/base.html" %}
{% load static %}
{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


<link href="{% static 'assets/css/mycss.css' %}" rel="stylesheet"/>


{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
      
          <div class="card-body">
              
            <div id="invoice">

              <div class="toolbar hidden-print">
                  <div class="text-right">
                      <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Imprimer/Telecharger</button>
                  </div>
                  <hr>
              </div>
              <div class="invoice overflow-auto">
                  <div style="min-width: 600px">
                      <main>
                          <div class="row contacts">
                             {% comment "Customer dtails" %} <div class="col invoice-to">
                                  <div class="text-gray-light">FACTURE de:</div>
                                  <h2 class="to">John Doe</h2>
                                  <div class="email"><a href="mailto:john@example.com">john@example.com</a></div>
                              </div>
                              {% endcomment %}
                              <div class="col invoice-details">
                                  <h1 class="invoice-id">FACTURE N°{{facture.id}}</h1>
                                  <div class="date">Date: {{facture.date|date:'d-m-Y'}}</div>
                              </div>
                          </div>
                          <table border="0" cellspacing="0" cellpadding="0" >
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th class="text-left">PRODUIT</th>
                                      <th class="text-right">PRIX_UNITAIRE</th>
                                      <th class="text-right">QUANTITE</th>
                                      <th class="text-right">TOTAL</th>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for lignefact in  lignesfactures %}
                                  <tr>
                                      <td class="no">{{forloop.counter}}
                                      </td>
                                      <td class="text-left"><h3>
                                        {{lignefact.produit.nom}}
                                      </td>
                                      <td class="unit">{{lignefact.prix_unitaire}}</td>
                                      <td class="qty">{{lignefact.quantite}}</td>
                                      <td class="total">{{lignefact.total}}</td>
                                  </tr>
                                {% empty %}
                                <p class="text text-danger">Pas de details disponibles pour cette fatcture</p>
                                {% endfor %}
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <td colspan="2"></td>
                                      <td colspan="2">GRAND TOTAL</td>
                                      <td>{{facture.total}} FCFA</td>
                                  </tr>
                              </tfoot>
                          </table>
                          
                          <div class="notices">
                            <div>NOTICE:</div>
                            <div class="notice">Cette facture comporte tout les article acheté .</div>
                        </div>
                        
                      </main>
                      <div class="thanks">MERCI!</div>
                      <footer>
                        La facture a été créée sur un ordinateur et est valide sans la signature et le cachet.
                      </footer>
                  </div>
                  <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                  <div></div>
              </div>
          </div>
        </div>
         
        </div>
      </div>
      
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'assets/js/myscript.js' %}"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% endblock javascripts %}
