

{% extends "layouts/base.html" %}
{% load static %}
{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


<link href="{% static 'assets/css/mycss.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-body">
                      <div class="product-details">
                          <img src="{{ produit.image.url }}" alt="Product Image">
                          <div class="product-info">
                              <h2>{{ produit.nom }}</h2>
                              <p>{{ produit.description }}</p>
                              <p>Prix Unitaire: {{ produit.prix_unitaire }}</p>
                              <p>Stock: {{ produit.stock }}</p>
                              {% if produit.qr_code %}
                                  <img src="{{ produit.qr_code.url }}" alt="QR Code" class="qr-code">
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-user">
                  <div class="card-body">
                      <p class="card-text">
                          <div class="author">
                              <div class="block block-one"></div>
                              <div class="block block-two"></div>
                              <div class="block block-three"></div>
                              <div class="block block-four"></div>
                          </div>
                      </p>
                      <div class="card-description">
                          Do not be scared of the truth because we need to restart the human foundation in truth And I love
                          you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </div>
                  </div>
                  <div class="card-footer">
                      <!-- Add footer content here if needed -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock javascripts %}
