

{% extends "layouts/base.html" %}
{% load static %}
{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                        <h2 class="card-title">Infos du produit</h2>
                </div>

                <div class="card-body">
                    <div class="product-details">
                        <img src="{{ produit.image.url }}" alt="Product Image" class="prodimg">
                        <div class="product-info">
                            <h2>{{ produit.nom }}</h2>
                            <p>{{ produit.description }}</p>
                            <p><strong>Prix Unitaire:</strong> {{ produit.prix_unitaire }} FCFA</p>
                            <p><strong>Stock:</strong> {{ produit.stock }}</p>
                        </div>
                        {% if produit.qr_code %}
                        <img src="{{ produit.qr_code.url }}" alt="QR Code" class="qr-code">
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-user">
                <div class="card-body">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                            <img class="avatar border-gray" src="{% static 'assets/img/anime3.png' %}" alt="...">
                            <h5 class="title">{{user.username}}</h5>
                        </a>
                    </div>
                    <p class="card-description">
                        Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="button-container">
                        <button href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook"></i></button>
                        <button href="#" class="btn btn-info btn-icon btn-round"><i class="fab fa-twitter"></i></button>
                        <button href="#" class="btn btn-danger btn-icon btn-round"><i class="fab fa-google-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
