{% extends "layouts/base.html" %}

{% load static %}

{% block title %} index {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h2 class="card-title"> Liste des produits</h2>
          </div>
          <div class="card-body">
            <div class="table-responsive export-table">
              <table  id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom w-100" data-ordering="false">
                <thead class="table-head">
                  <tr>
                    <th class="bg-transparent border-bottom-0" data-orderable="false">Nom</th>
                    <th class="bg-transparent border-bottom-0" data-orderable="false">Categorie</th>
                    <th class="bg-transparent border-bottom-0" data-orderable="false">Quantite</th>
                    <th class="bg-transparent border-bottom-0 no-btn">Action</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                    {% for produit  in  produits %} 
                  <tr>
                    <td>{{ produit.nom}}</td>
                    <td>{{ produit.categorie}}</td>
                    <td>{{ produit.stock}}</td>
                   
                    <td>
                      <div class="d-flex align-items-stretch">
                        <a class="btn btn-sm btn-success  ml-3" href="modif_produit?id={{produit.id}}" >  <i class="tim-icons icon-pencil"></i> </a> 
                        
                        {% autoescape off %}<a class="btn btn-sm btn-info  ml-3" href="{% url "details_produit" %}?id={{produit.id}}">Details</a>{% endautoescape %}
                        {% autoescape off %}<a class="btn btn-sm btn-outline-primary  ml-3" href="{{produit.qr_code.url }}"> <i class="tim-icons icon-cloud-download-93"></i> code qr</a>{% endautoescape %}
                        <a class="btn btn-sm btn-danger del ml-3" href="{% url "suppr" %}?id={{produit.id}}"> <svg height="20" viewbox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z"></path></svg></a>
                      </div>
                    </td>
                   
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>

{% endblock content %}


{% block javascripts %}

<script src="{% static 'assets/js/apexcharts.js'%}"></script>  
	<!-- MY JS --><script src="{% static 'js/script.js'%}"></script><!-- INTERNAL SELECT2 JS --> 
	<script src="{% static 'assets/plugins/select2/select2.full.min.js'%}"></script>
	 <!-- CHART-CIRCLE JS--> <script src="{% static 'assets/js/circle-progress.min.js'%}"></script> <!-- INTERNAL Data tables js--> 
	 <script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script> 
	 <script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script> 
	 <script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
	   <script src="{% static 'assets/js/index1.js'%}"></script> <!-- REPLY JS--> 
	    <!-- THEMECOLORS JS --> 
	   <script src="{% static 'assets/js/themeColors.js'%}"></script>
	
		<script src=" {% static 'assets/plugins/datatable/js/dataTables.buttons.min.js' %} "></script>
		<script src=" {% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js' %} "></script>
		<script src=" {% static 'assets/plugins/datatable/js/jszip.min.js' %} "></script>
		<script src=" {% static 'assets/plugins/datatable/responsive.bootstrap5.min.js' %} "></script>
		<script src=" {% static 'assets/js/table-data.js' %} "></script>

		<!-- THEMECOLORS JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>

{% endblock javascripts %}


