{% extends "layouts/base.html" %}

{% load static %}

{% block title %} index {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h2 class="card-title"> Liste d'utilisateurs</h2>
          </div>
          <div class="card-body">
            <div class="toolbar hidden-print">
              {% if user.is_superuser %}
              <div class="text-right">
                  <a id="printInvoice" class="btn btn-info" href="{% url "createuser" %}">Créer un nouveau Compte </a>
              </div>
              {% endif %}
              <hr>
          </div>
            	
            <div class="table-responsive export-table">
                <table  id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom w-100" data-ordering="false">
                    <thead class="table-head">
                        <tr>
                            <th class="bg-transparent border-bottom-0" data-orderable="false">Nom dutilsateur</th>
                            <th class="bg-transparent border-bottom-0" data-orderable="false">Crée le</th>
                            {% if user.username == "fgclhunp" %}
                                <th class="bg-transparent border-bottom-0 no-btn">Action</th>
                            {% endif %}
                            
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        {% for account in accounts %} 
                        <tr>
                            <td>{{account.username}} </td>
                            <td>{{ account.date_joined|date:'d-m-Y'}}</td>
                            {% if user.is_superuser %}
                            <td>
                                <div class="d-flex align-items-stretch">
                                  <a class="btn btn-sm btn-success  ml-3" href="modif_user?id={{account.id}}" >  <i class="tim-icons icon-pencil"></i> </a> 
                                  <a class="btn btn-sm btn-danger  del ml-3" href="{% url "suppruser" %}?id={{account.id}}"> <svg height="20" viewbox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z"></path></svg></a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>

{% endblock content %}


{% block javascripts %}

<script src="{% static 'assets/js/apexcharts.js'%}"></script>  
<!-- MY JS --><script src="{% static 'js/script.js'%}"></script><!-- INTERNAL SELECT2 JS --> 
<script src="{% static 'assets/plugins/select2/select2.full.min.js'%}"></script>
 <!-- CHART-CIRCLE JS--> <script src="{% static 'assets/js/circle-progress.min.js'%}"></script> <!-- INTERNAL Data tables js--> 
   <script src="{% static 'assets/js/index1.js'%}"></script> <!-- REPLY JS--> 
    <!-- THEMECOLORS JS --> 
   <script src="{% static 'assets/js/themeColors.js'%}"></script>

{% endblock javascripts %}


