
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            
                
            
            <div class="col-md-12 text-right">
                <ul class="footer-nav">
                    <li class="nav-item">
                        &copy; <a target="_blank" href="https://bit.ly/3fKQZaL" class="text-primary">Gestock</a> 
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-muted">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-muted">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-muted">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>