.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 700px;
    padding: 20px;
   
    border-radius: 5px;
  }
  .product-details img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
  }
  .product-info {
    flex: 1;
  }
  .product-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .product-info p {
    margin-bottom: 5px;
  }
  .qr-code {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }